.home-content {
    grid-template: 1fr 2fr 4fr 1fr / 1fr;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.home.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home.header > div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 77%;
    height: 60%;

    border: 5px solid forestgreen;
    border-radius: 12px;
    background-color: rgba(152, 251, 152);

    padding: 5px 10px;
}

.home.header > div > img {
    margin: 0px 12px;
    transform: rotate(20deg);
}

.home.header > div > h1 {
    margin: 0;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc > div,
.hours > div,
.location > div{
    border: 5px solid rgb(100, 40, 40);
    background-color: lightpink;
    border-radius: 12px;
    
    width: 60%;
    height: 90%;
}